/*
================================================================================
 GLOBAL EXOCET FONTS - READING AND EDITING MODE
================================================================================
*/

/* TODO: Exocet fonts only in Dungeons & Dragons  */

/* Reading Mode */
.markdown-preview-view h1,
.markdown-preview-view h2 {
  font-family: 'Exocet', sans-serif !important;
  font-weight: 700 !important;
}

.markdown-preview-view h3,
.markdown-preview-view h4,
.markdown-preview-view h5,
.markdown-preview-view h6 {
  font-family: 'Exocet', sans-serif !important;
  font-weight: 300 !important;
}

.markdown-preview-view blockquote {
  font-family: 'Exocet', sans-serif !important;
  font-weight: 300 !important;
}

/* Editing Mode */
.markdown-source-view .cm-header-1,
.markdown-source-view .cm-header-2 {
  font-family: 'Exocet', sans-serif !important;
  font-weight: 700 !important;
}

.markdown-source-view .cm-header-3,
.markdown-source-view .cm-header-4,
.markdown-source-view .cm-header-5,
.markdown-source-view .cm-header-6 {
  font-family: 'Exocet', sans-serif !important;
  font-weight: 300 !important;
}

.markdown-source-view .cm-quote {
  font-family: 'Exocet', sans-serif !important;
  font-weight: 300 !important;
}